body {
  background: black;
}

a {
  text-decoration: none;
  color: red;
}

.title {
  margin: 5em 0;
  text-align: center;
}

.right_hook_apps_logo {
  margin-bottom: 15.5em;
  padding-right: 5em;
  max-height: 22em;
  max-width: 28em;
  display: inline-block;
}

.logo_section {
  margin: 1.3em 0;
}

.curate_logo {
  height: 26em;
  width: 28em;
  display: inline-block;
}

.contact {
  font-size: 2em;
  margin-top: -5.3em;
  margin-right: 16.5em;
  color: white;
  /*display: inline-block;*/
}

.boxing_glove_box {
  margin-top: 1em;
  text-align: center;
}

.boxing_glove_one {
  max-height: 10em;
  max-width: 10em;
  padding: 0 3em;
  margin: .5em;
  /*-webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;*/
}

.boxing_glove_two {
  max-height: 10em;
  max-width: 10em;
  padding: 0 3em;
  margin: .5em;
  /*-webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;*/
}

.boxing_glove_three {
  max-height: 10em;
  max-width: 10em;
  padding: 0 3em;
  margin: .5em;
  /*-webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;*/
}

.boxing_glove_four {
  max-height: 10em;
  max-width: 10em;
  padding: 0 3em;
  margin: .5em;
  /*-webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;*/
}
/*@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/

.contact_card {
  max-width: 14em;
}
