body {
  text-align: center;
}

a {
  text-decoration: none;
  color: red;
}

.title {
  margin: 3em 0 5em 0;
}

.logo_section {
  margin: 3em 0;
}

.curate_logo {
  max-height: 35em;
  max-width: 35em;
}

.contact {
  margin: 3em 0;
}

.boxing_glove_box {
  margin-top: 3em;
}

.boxing_glove {
  max-height: 15em;
  max-width: 15em;
}
